.characters-header {
  position: relative;
  margin: 0 auto;
  padding: 25px 20px 20px 20px;
  width: 100%;
  height: 509px;
  background-image: url('../images/characters_mobile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#loader {
  position: relative;
  display: none;
  margin: 150px auto 150px;
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
}

#modal-loader {
  position: relative;
  display: block;
  margin: 150px auto 150px;
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader::after,
#modal-loader::after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@keyframes animate2 {
  0% {
    box-shadow: inset #33387c 0 0 0 17px;
  }
  50% {
    box-shadow: inset #33387c 0 0 0 2px;
  }
  100% {
    box-shadow: inset #33387c 0 0 0 17px;
  }
}

.characters-hero__subtitle {
  margin-top: 142px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.characters-hero__title {
  width: auto;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
}

.characters-hero__text {
  margin: 16px auto 65px;
  width: calc(100% - 40px);
  max-width: 469px;
  font-size: 16px;
  line-height: 20px;
}

.characters-hero__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 480px) {
  .characters-hero,
  .search-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .characters-header {
    background-image: url('../images/characters_tablet.png');
    height: 780px;
    padding: 32px;
  }

  .characters-hero,
  .search-section {
    width: 704px;
  }

  .characters-hero__subtitle {
    margin-top: 202px;
    font-size: 18px;
    line-height: 160%;
  }

  .characters-hero__title {
    margin-top: 27px;
    font-size: 128px;
    font-weight: 500;
    line-height: 128px;
  }
}

@media screen and (min-width: 1200px) {
  .characters-header {
    background-image: url('../images/characters_desktop.png');
  }

  .characters-hero,
  .search-section {
    width: 80%;
    max-width: 1500px;
  }

  .characters-hero__title {
    text-align: left;
    margin-top: 16px;
    font-size: 150px;
    line-height: 150px;
  }

  .characters-hero__text {
    max-width: 700px;
    margin-bottom: 200px;
    margin-left: 0;
  }

  .characters-hero__button {
    bottom: 32px;
    right: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .characters-hero__subtitle {
    font-size: 22px;
  }

  .characters-hero__text {
    font-size: 18px;
    line-height: 1.1;
  }
}
