header {
    margin: 20px;
    margin-bottom: 44px;
}

.logo__icon {
    width: 98px;
    height: 15px;

    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.hero-section,
.random-sentiom {
    margin: 0 20px;
}

.hero-subtitle {
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}

.hero-title {
    margin-top: 14px;
    width: 300px;
    color: #FAFAFA;
    font-size: 44px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.88px;
}

.hero-text {
    margin-top: 16px;
    margin-bottom: 20px;
    color: #FAFAFA;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.all-char-btn {
    padding: 10px 24px;
    border-radius: 1000px;
    font-family: 'Poppins';
    color: #FAFAFA;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;

    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, font-size cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;

    &:hover,
    &:focus {
        color: #ffffff;
        font-size: 13px;
    }
}

.hero-button {
    background: #34387F;
}

.copyright-section {
    background-color: #34387F;
    width: 100%;
}

.copyright-section__text {
    padding: 16px;
    text-align: center;
    color: rgba(250, 250, 250, 0.40);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
}


@media screen and (min-width: 480px) {
    
    .hero-text {
        width: 420px;
    }
}


@media screen and (max-width: 767px) {

    .gallery__item {
        min-width: 75%;
    }
}


@media screen and (min-width: 480px) and (max-width:767px) {

    .hero-section {
        width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 768px) {
    

    header {
        margin: 24px 32px 80px;
    }
    
    .logo__icon {
        width: 202px;
        height: 31px;
    }

    .hero-section {
        width: 728px;
        margin-left: auto;
        margin-right: auto;
    }
    .random-section {
        width: 728px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-title {
        margin-top: 16px;
        width: 538px;
        font-size: 80px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: -1.6px;
    }

    .hero-text {
        margin-top: 18px;
        margin-bottom: 44px;
        width: 473px;
        font-size: 16px;
    }

    .all-char-btn {
        padding: 12px 24px;
        font-size: 14px;
        line-height: 18px;

        &:hover,
        &:focus {
            font-size: 15px;
        }
    }

    .copyright-section__text {
        padding: 18px;
        font-size: 14px;
        line-height: 18px;
    }
}


@media screen and (min-width: 1200px) {
    
    .hero {
        width: 510px;
        margin-right: 50px;
    }

    .hero-section {
        width: calc(100% - 64px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-bottom: 80px;
    }

    .random-section {
        width: calc(100% - 64px);
        margin: 0 auto;
    }

    .hero-text {
        margin-top: 18px;
        margin-bottom: 32px;
        width: 100%;
        font-size: 16px;
    }

}