header {
    margin: 24px 32px 134px;
}

.logo__icon {
    width: 202px;
    height: 31px;
}

.hero-section {
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-subtitle {
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}

.hero-title {
    margin-top: 16px;
    width: 538px;
    color: #FAFAFA;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1.6px;
}

.hero-text {
    margin-top: 18px;
    margin-bottom: 32px;
    color: #FAFAFA;
    width: 527px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.all-char-btn {
    padding: 12px 24px;
    border-radius: 1000px;
    background: #34387F;
    font-family: 'Poppins';
    color: #FAFAFA;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

