@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Poppins";
  font-weight: normal;
  background-color: #0C0B0B;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
header {
  margin: 20px;
  margin-bottom: 44px;
}

.logo__icon {
  width: 98px;
  height: 15px;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.logo__icon:hover, .logo__icon:focus {
  transform: scale(1.2);
}

.hero-section,
.random-sentiom {
  margin: 0 20px;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 14px;
  width: 300px;
  color: #FAFAFA;
  font-size: 44px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.88px;
}

.hero-text {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #FAFAFA;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.all-char-btn {
  padding: 10px 24px;
  border-radius: 1000px;
  font-family: "Poppins";
  color: #FAFAFA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, font-size cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.all-char-btn:hover, .all-char-btn:focus {
  color: #ffffff;
  font-size: 13px;
}

.hero-button {
  background: #34387F;
}

.random-button {
  position: absolute;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  z-index: 2000;
  bottom: 60px;
  right: 0;
}
@media screen and (min-width: 760px) {
  .random-button {
    bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .random-button {
    bottom: 0;
  }
}

.copyright-section {
  background-color: #34387F;
  width: 100%;
}

.copyright-section__text {
  padding: 16px;
  text-align: center;
  color: rgba(250, 250, 250, 0.4);
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 480px) {
  .hero-text {
    width: 420px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  header {
    margin: 24px 32px 80px;
  }
  .logo__icon {
    width: 202px;
    height: 31px;
  }
  .hero-section {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
  .random-section {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    margin-top: 16px;
    width: 538px;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1.6px;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 44px;
    width: 473px;
    font-size: 16px;
  }
  .all-char-btn {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
  .all-char-btn:hover, .all-char-btn:focus {
    font-size: 15px;
  }
  .copyright-section__text {
    padding: 18px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 510px;
    margin-right: 50px;
  }
  .hero-section {
    width: calc(100% - 64px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
  }
  .random-section {
    width: calc(100% - 64px);
    margin: 0 auto;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 16px;
  }
}
.hero-swiper {
  margin-top: 40px;
}

.hero-swiper-wrapper {
  padding-bottom: 60px;
}

.hero-swiper-slide {
  text-align: center;
  font-size: 18px;
}

.hero-swiper-custom-pagination {
  position: absolute;
  left: 0;
}

.hero-swiper-pagination-bullet {
  width: 72px;
  border-radius: 0;
  height: 4px;
  background: rgba(80, 78, 78, 0.5);
  margin: 5px 0;
}

.hero-swiper-pagination-bullet-active:nth-child(1),
.hero-swiper-slide-active:nth-child(1) {
  --active-color: #34387F;
}
.hero-swiper-pagination-bullet-active:nth-child(2),
.hero-swiper-slide-active:nth-child(2) {
  --active-color: #600404;
}
.hero-swiper-pagination-bullet-active:nth-child(3),
.hero-swiper-slide-active:nth-child(3) {
  --active-color: #5B7F3C;
}

.hero-swiper-pagination-bullet-active {
  background-color: var(--active-color);
}

.hero-swiper-slide-active {
  color: var(--active-color);
}

.hero-swiper__container {
  height: 100%;
}

.hero-swiper__img1,
.hero-swiper__img2 {
  width: 220px;
  height: auto;
}

.hero-swiper__first-container {
  margin-bottom: 20px;
}

.hero-swiper__second-container {
  margin-left: auto;
  margin-right: 0;
  width: 220px;
  position: relative;
  background: linear-gradient(180deg, var(--active-color) 36.46%, rgba(52, 56, 127, 0) 85%);
}

.hero-swiper__text-effect {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 178px;
  left: 14px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: radial-gradient(81.15% 81.15% at 50% 18.85%, var(--active-color) 0%, #171717 100%);
}

.hero-swiper__text {
  color: var(--active-color);
  color: #FAFAFA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.hero-swiper__description-container {
  display: flex;
  position: relative;
  gap: 14px;
  width: 190px;
  margin-top: 14px;
  padding-top: 30px;
}
.hero-swiper__description-container::before {
  content: "";
  width: calc(100% - 20px);
  height: 6px;
  background-image: url(../images/vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.hero-swiper__description-title {
  color: #FAFAFA;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.hero-swiper__description-text {
  color: rgba(250, 250, 250, 0.5);
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-swiper {
    width: 440px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 250px;
  }
  .hero-swiper__text-effect {
    bottom: 148px;
  }
  .hero-swiper__second-container,
  .hero-swiper__description-container {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .hero-swiper-slide {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .hero-swiper-pagination-bullet {
    width: 100px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    height: auto;
    display: flex;
    align-items: flex-end;
  }
  .hero-swiper__second-container {
    width: auto;
    margin: 0;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 336px;
  }
  .hero-swiper__text-effect {
    width: 130px;
    height: 130px;
    top: 380px;
    left: 16px;
  }
  .hero-swiper__text {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  .hero-swiper__description-container {
    gap: 55px;
    width: 320px;
  }
  .hero-swiper__description-container::before {
    width: 320px;
    height: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-swiper {
    width: 640px;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 570px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    margin-left: 32px;
    display: flex;
    align-items: end;
    height: 100%;
  }
  .hero-swiper__second-container {
    margin-bottom: 0;
    width: 290px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 290px;
  }
  .hero-swiper__text-effect {
    width: 110px;
    height: 110px;
    top: 320px;
  }
  .hero-swiper__text {
    font-size: 20px;
  }
  .hero-swiper__description-container {
    gap: 30px;
    width: 280px;
  }
  .hero-swiper__description-container::before {
    width: 280px;
  }
  .hero-swiper-pagination-bullet {
    width: 4px;
    height: 100px;
  }
}
.random-section {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 40px);
  margin-bottom: 18px;
}

.random-title {
  margin: 60px 0 35px;
  color: #FAFAFA;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.random-swiper {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .random-swiper {
    flex-direction: column;
  }
}

.random-swiper-wrapper {
  height: 1500px;
}

.random-swiper-slide__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.swiper-pagination-vertical.swiper-pagination-bullets .random-swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .random-swiper-pagination-bullet {
  height: calc(50% - 70px);
  width: calc(100% - 10px);
  background-color: transparent;
  text-align: left;
  border-radius: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-top: 32px;
}

.random-bullet__name {
  font-size: 18px;
  margin-bottom: 14px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.random-bullet__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 20px;
  height: 90px;
}

.swiper-pagination.random-swiper-custom-pagination.random-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  width: 100%;
  top: 810px;
  left: 5px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination.random-swiper-custom-pagination.random-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
    top: 1100px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-pagination.random-swiper-custom-pagination.random-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
    top: 42%;
    left: 47%;
    transform: translate(0, -50%);
    width: 600px;
  }
}

@media screen and (min-width: 480px) {
  .random-section {
    width: 440px;
  }
  .random-swiper-wrapper {
    height: 1500px;
  }
  .random-swiper-slide__img {
    width: 440px;
    height: 400px;
  }
  .random-bullet__description {
    height: 72px;
  }
}
@media screen and (min-width: 768px) {
  .random-section {
    height: 1700px;
    width: 704px;
    margin-bottom: 90px;
  }
  .random-swiper-wrapper {
    height: 1700px;
  }
  .random-title {
    margin: 130px 0 60px;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -0.88px;
  }
  .random-swiper-slide__img {
    width: 100%;
    height: 715px;
  }
  .random-bullet__name {
    font-size: 24px;
  }
  .random-bullet__description {
    font-size: 16px;
    height: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .random-section {
    margin-top: 100px;
    height: 1000px;
    width: 1136px;
  }
  .random-swiper {
    width: 100%;
  }
  .random-swiper-wrapper {
    height: 810px;
  }
  .random-swiper-slide__img {
    width: 500px;
    height: 715px;
  }
  .random-bullet__description {
    padding-bottom: 20px;
  }
}
footer {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.footer__logo {
  width: 98px;
  height: 15px;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.footer__logo:hover, .footer__logo:focus {
  transform: scale(1.2);
}

.footer__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__text {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.footer__icons {
  display: flex;
  gap: 14px;
}

.footer__icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(250, 250, 250, 0.15);
  fill: #fff;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.footer__icon:hover, .footer__icon:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  footer {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin-bottom: 64px;
  }
  .footer__logo {
    width: 202px;
    height: 31px;
  }
  .footer__description {
    display: flex;
    gap: 142px;
    margin-bottom: 0;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__icons {
    gap: 16px;
  }
  .footer__icon {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
.characters-header {
  position: relative;
  margin: 0 auto;
  padding: 25px 20px 20px 20px;
  width: 100%;
  height: 509px;
  background-image: url("../images/characters_mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.characters-hero__subtitle {
  margin-top: 142px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.characters-hero__title {
  width: auto;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.characters-hero__text {
  margin: 16px auto 65px;
  width: calc(100% - 40px);
  max-width: 469px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.characters-hero__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 480px) {
  .characters-hero,
  .search-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .characters-header {
    background-image: url("../images/characters_tablet.png");
    height: 780px;
    padding: 32px;
  }
  .characters-hero,
  .search-section {
    width: 704px;
  }
  .characters-hero__subtitle {
    margin-top: 202px;
    font-size: 18px;
    line-height: 160%;
  }
  .characters-hero__title {
    margin-top: 27px;
    font-size: 128px;
    font-weight: 500;
    line-height: 128px;
    letter-spacing: -2.56px;
  }
}
@media screen and (min-width: 1200px) {
  .characters-header {
    background-image: url("../images/characters_desktop.png");
  }
  .characters-hero,
  .search-section {
    width: 1136px;
  }
  .characters-hero__title {
    text-align: left;
    margin-top: 16px;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -3px;
  }
  .characters-hero__text {
    margin-bottom: 200px;
    margin-left: 88px;
  }
  .characters-hero__button {
    bottom: 32px;
    right: 32px;
  }
}
.search-section {
  margin-top: 20px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-form div {
  margin-bottom: 15px;
}

.search-form__text-filter {
  position: relative;
  width: 100%;
}

.search-form__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-form__label {
  color: rgba(250, 250, 250, 0.3);
  font-size: 12px;
  line-height: 14px;
}

.search-form__input {
  margin-top: 8px;
  width: 100%;
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #34387F;
  padding: 14px 24px;
  border-radius: 100px;
}
.search-form__input::placeholder {
  color: #FAFAFA;
}

.search-form__text-input:focus {
  border: none;
  background-color: #34387F;
  outline: none;
}

.search-form__button {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 18px;
  bottom: 12px;
}

div.dropdown-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.dropdown-text {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.dropdown-list {
  display: none;
  padding: 14px 24px;
  border-radius: 16px;
  background: #171717;
}
.dropdown-list.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  color: rgba(250, 250, 250, 0.3);
  font-size: 12px;
  line-height: 14px;
}
.dropdown-item:not(:last-child) {
  margin-bottom: 8px;
}
.dropdown-item:hover, .dropdown-item.active {
  color: #FAFAFA;
}

.search-form__date-filter {
  position: relative;
}

.search-form__date-input::-webkit-calendar-picker-indicator {
  color: #FAFAFA;
  opacity: 1;
  display: block;
  background: url(../images/down.png) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  border-width: thin;
}

@media screen and (min-width: 375px) {
  .search-form__text-filter {
    width: 345px;
  }
  .search-form__select-filter {
    width: 169px;
  }
  .search-form__date-filter {
    width: 158px;
  }
  .search-form__select {
    width: 170px;
  }
}
@media screen and (min-width: 480px) {
  .search-form {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .search-form {
    width: 704px;
  }
  .search-form__text-filter {
    width: 170px;
  }
  .search-form__input {
    font-size: 16px;
    line-height: 18px;
    padding: 16px 24px;
  }
  .dropdown-list {
    padding: 16px 24px;
  }
  .dropdown-item {
    font-size: 16px;
    line-height: 18px;
  }
  .search-form {
    gap: 8px;
  }
  .search-form__button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 18px;
    top: 8px;
  }
}/*# sourceMappingURL=index.css.map */