@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Poppins";
  font-weight: normal;
  background-color: #0C0B0B;
  margin: 0;
  padding: 0;
  user-select: none;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0C0B0B;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #0C0B0B;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2a2a2a;
}

body.modal-open {
  overflow: hidden;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  margin: 20px;
  margin-bottom: 44px;
}

.logo__icon {
  width: 98px;
  height: 15px;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.logo__icon:hover, .logo__icon:focus {
  transform: scale(1.1);
}

.hero-section,
.random-sentiom {
  margin: 0 20px;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 14px;
  width: 300px;
  color: #fafafa;
  font-size: 44px;
  font-weight: 500;
  line-height: 44px;
}

.hero-text {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #fafafa;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.all-char-btn {
  position: relative;
  overflow: hidden;
  padding: 10px 24px;
  border-radius: 1000px;
  font-family: "Poppins";
  color: #fafafa;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  animation: attract 4s infinite ease-in-out;
}
.all-char-btn:hover, .all-char-btn:focus {
  color: #ffffff;
  animation: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.all-char-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(239, 239, 240, 0.4), transparent);
  transition: all 650ms;
}
.all-char-btn:hover:before {
  left: 100%;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

@keyframes attract {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2) rotate(-3deg);
  }
  50% {
    transform: scale(1.2) rotate(3deg);
  }
  75%, 100% {
    transform: scale(1);
  }
}
.hero-button {
  display: inline-block;
  background-color: #34387f;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.copyright-section {
  background-color: #34387f;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  width: 100%;
}

.copyright-section__text {
  padding: 16px;
  text-align: center;
  color: rgba(250, 250, 250, 0.4);
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .hero-text {
    width: 420px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__item {
    min-width: 75%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header,
  .hero-section,
  .random-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  header {
    margin: 24px 32px 80px;
  }
  .logo__icon {
    width: 202px;
    height: 31px;
  }
  .header,
  .hero-section,
  .random-section {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    margin-top: 16px;
    width: 538px;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 44px;
    width: 473px;
    font-size: 16px;
  }
  .all-char-btn {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
  .all-char-btn:hover, .all-char-btn:focus {
    font-size: 15px;
  }
  .copyright-section__text {
    padding: 18px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 500px;
  }
  .hero-section {
    position: relative;
    width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
  }
  .header,
  .random-section {
    width: 1136px;
  }
}
@media screen and (min-width: 1300px) {
  .hero {
    width: calc(100% - 690px);
    max-width: 700px;
    font-size: larger;
    margin-right: 50px;
  }
  .header,
  .hero-section {
    width: 90%;
    max-width: 1600px;
  }
  .random-section {
    width: calc(100% - 64px);
    margin: 0 auto;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 16px;
  }
  .all-char-btn {
    padding: 15px 30px;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  .all-char-btn:hover, .all-char-btn:focus {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .hero-title {
    font-size: 100px;
    line-height: 1.1;
  }
  .hero-subtitle {
    font-size: 22px;
  }
  .hero-text {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.1;
  }
  .all-char-btn {
    font-size: 20px;
  }
  .all-char-btn:hover, .all-char-btn:focus {
    font-size: 22px;
  }
  .logo__icon {
    margin-left: -20px;
    width: auto;
    height: 40px;
  }
  .copyright-section__text {
    font-size: 20px;
    padding: 35px;
  }
}
.hero-swiper {
  margin-top: 40px;
}

.hero-swiper-wrapper {
  padding-bottom: 60px;
}

.hero-swiper-slide {
  text-align: center;
  font-size: 18px;
}

.hero-swiper-custom-pagination {
  position: absolute;
  left: 0;
}

.hero-swiper-pagination-bullet {
  width: 72px;
  border-radius: 0;
  height: 4px;
  background: rgba(185, 179, 179, 0.5);
  margin: 5px 0;
}

.hero-swiper-pagination-bullet-active:nth-child(1),
.hero-swiper-slide-active:nth-child(1) {
  --active-color: #34387F;
}
.hero-swiper-pagination-bullet-active:nth-child(2),
.hero-swiper-slide-active:nth-child(2) {
  --active-color: #600404;
}
.hero-swiper-pagination-bullet-active:nth-child(3),
.hero-swiper-slide-active:nth-child(3) {
  --active-color: #5B7F3C;
}

.hero-swiper-pagination-bullet-active {
  background-color: var(--active-color);
}

.hero-swiper-slide-active {
  color: var(--active-color);
}

.hero-swiper__container {
  height: 100%;
}

.hero-swiper__img1,
.hero-swiper__img2 {
  width: 220px;
  height: auto;
}

.hero-swiper__first-container {
  margin-bottom: 20px;
}

.hero-swiper__second-container {
  margin-left: auto;
  margin-right: 0;
  width: 220px;
  position: relative;
  background: linear-gradient(180deg, var(--active-color) 36.46%, rgba(52, 56, 127, 0) 85%);
}

.hero-swiper__text-effect {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 178px;
  left: 14px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero-swiper__text {
  color: var(--active-color);
  color: #FAFAFA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.hero-swiper__description-container {
  display: flex;
  position: relative;
  gap: 14px;
  width: 190px;
  margin-top: 14px;
  padding-top: 30px;
}
.hero-swiper__description-container::before {
  content: "";
  width: calc(100% - 20px);
  height: 6px;
  background-image: url(../images/vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.hero-swiper__description-title {
  color: #FAFAFA;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.hero-swiper__description-text {
  color: rgba(250, 250, 250, 0.5);
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-swiper {
    width: 440px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 250px;
  }
  .hero-swiper__text-effect {
    bottom: 148px;
  }
  .hero-swiper__second-container,
  .hero-swiper__description-container {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .hero-swiper-slide {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .hero-swiper-pagination-bullet {
    width: 100px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    height: auto;
    display: flex;
    align-items: flex-end;
  }
  .hero-swiper__second-container {
    width: auto;
    margin: 0;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 336px;
  }
  .hero-swiper__text-effect {
    width: 130px;
    height: 130px;
    top: 380px;
    left: 16px;
  }
  .hero-swiper__text {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  .hero-swiper__description-container {
    gap: 55px;
    width: 320px;
  }
  .hero-swiper__description-container::before {
    width: 320px;
    height: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-swiper {
    width: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
    height: 580px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    margin-left: 32px;
    display: flex;
    align-items: end;
    height: 100%;
  }
  .hero-swiper__second-container {
    margin-bottom: 0;
    width: 290px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 290px;
  }
  .hero-swiper__text-effect {
    width: 110px;
    height: 110px;
    top: 320px;
  }
  .hero-swiper__text {
    font-size: 20px;
  }
  .hero-swiper__description-container {
    gap: 30px;
    width: 280px;
  }
  .hero-swiper__description-container::before {
    width: 280px;
  }
  .hero-swiper-pagination-bullet {
    width: 4px;
    margin-right: 10px;
    height: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .hero-swiper {
    height: 630px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 320px;
  }
}
@media screen and (min-width: 1920px) {
  .hero-swiper {
    height: 730px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 370px;
  }
  .hero-swiper-pagination-bullet {
    width: 7px;
    height: 150px;
  }
}
.random-title {
  margin: 40px 20px 35px;
  color: #fafafa;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
}

.gallery-container {
  display: flex;
  overflow: hidden;
}

.gallery {
  display: flex;
  align-items: center;
  column-gap: 40px;
  animation: scrollAnimation 15s infinite alternate;
  margin-bottom: 30px;
}

.gallery__item {
  scroll-snap-align: center;
  padding-bottom: 20px;
}

.gallery__image {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-230%);
  }
}
.random-button {
  display: inline-block;
  border-radius: 1000px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  background-color: #34387f;
}

@media screen and (max-width: 480px) {
  .gallery__item {
    min-width: 75%;
  }
  .random-button {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .random-button {
    margin-left: 0;
  }
  .random-title {
    font-size: 44px;
    line-height: 44px;
  }
  .random-section {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery {
    column-gap: 50px;
  }
  .gallery__image {
    width: 300px;
  }
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-46%);
    }
  }
}
@media screen and (min-width: 1200px) {
  .random-section {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .gallery {
    width: 100%;
    column-gap: 70px;
  }
  .gallery__image {
    width: 400px;
  }
  .random-title {
    margin-top: 70px;
  }
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-55%);
    }
  }
}
@media screen and (min-width: 1300px) {
  .gallery {
    width: 100%;
    column-gap: 30px;
    animation: none;
  }
  .gallery__image {
    width: auto;
    margin: 0;
    width: calc(100% - 22.5px);
  }
}
@media screen and (min-width: 1920px) {
  .gallery {
    column-gap: 50px;
    animation: none;
  }
  .gallery__image {
    width: 360px;
  }
  .random-title {
    margin-top: 70px;
  }
}
footer {
  width: calc(100% - 40px);
  margin: 40px auto;
}

.footer__logo {
  width: 98px;
  height: 15px;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.footer__logo:hover, .footer__logo:focus {
  transform: scale(1.1);
}

.footer__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__text {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.footer__icons {
  display: flex;
  gap: 14px;
}

.footer__icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(250, 250, 250, 0.15);
  fill: #fff;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.footer__icon:hover, .footer__icon:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  footer {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin-bottom: 64px;
  }
  .footer__logo {
    width: 202px;
    height: 31px;
  }
  .footer__description {
    display: flex;
    gap: 142px;
    margin-bottom: 0;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__icons {
    gap: 16px;
  }
  .footer__icon {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    margin-top: 80px;
    width: 80%;
    max-width: 1500px;
  }
  .footer__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__logo {
    width: auto;
    height: 40px;
  }
  .footer__icons {
    gap: 25px;
  }
  .footer__icon {
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(250, 250, 250, 0.15);
  }
}
.characters-header {
  position: relative;
  margin: 0 auto;
  padding: 25px 20px 20px 20px;
  width: 100%;
  height: 509px;
  background-image: url("../images/characters_mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#loader {
  position: relative;
  display: none;
  margin: 150px auto 150px;
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
}

#modal-loader {
  position: relative;
  display: block;
  margin: 150px auto 150px;
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader::after,
#modal-loader::after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: "";
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@keyframes animate2 {
  0% {
    box-shadow: inset #33387c 0 0 0 17px;
  }
  50% {
    box-shadow: inset #33387c 0 0 0 2px;
  }
  100% {
    box-shadow: inset #33387c 0 0 0 17px;
  }
}
.characters-hero__subtitle {
  margin-top: 142px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.characters-hero__title {
  width: auto;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
}

.characters-hero__text {
  margin: 16px auto 65px;
  width: calc(100% - 40px);
  max-width: 469px;
  font-size: 16px;
  line-height: 20px;
}

.characters-hero__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 480px) {
  .characters-hero,
  .search-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .characters-header {
    background-image: url("../images/characters_tablet.png");
    height: 780px;
    padding: 32px;
  }
  .characters-hero,
  .search-section {
    width: 704px;
  }
  .characters-hero__subtitle {
    margin-top: 202px;
    font-size: 18px;
    line-height: 160%;
  }
  .characters-hero__title {
    margin-top: 27px;
    font-size: 128px;
    font-weight: 500;
    line-height: 128px;
  }
}
@media screen and (min-width: 1200px) {
  .characters-header {
    background-image: url("../images/characters_desktop.png");
  }
  .characters-hero,
  .search-section {
    width: 80%;
    max-width: 1500px;
  }
  .characters-hero__title {
    text-align: left;
    margin-top: 16px;
    font-size: 150px;
    line-height: 150px;
  }
  .characters-hero__text {
    max-width: 700px;
    margin-bottom: 200px;
    margin-left: 0;
  }
  .characters-hero__button {
    bottom: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .characters-hero__subtitle {
    font-size: 22px;
  }
  .characters-hero__text {
    font-size: 18px;
    line-height: 1.1;
  }
}
.search-section {
  margin-top: 20px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.search-form__text-filter {
  position: relative;
  width: 100%;
}

.search-form__label {
  color: rgba(250, 250, 250, 0.3);
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}

.search-input {
  display: inline-block;
  position: relative;
}

.search-input:hover::after,
.search-input::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: 105%;
  z-index: 1;
  background: #333;
  color: rgba(250, 250, 250, 0.5019607843);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  white-space: nowrap;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.search-input:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(10px);
}

.search-input:hover::before,
.search-input::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}

.search-input:hover::before {
  opacity: 1;
  visibility: visible;
}

.search-form__input {
  margin-top: 8px;
  width: 100%;
  color: #fafafa;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #34387f;
  padding: 14px 24px;
  border-radius: 100px;
  outline: none;
}
.search-form__input::placeholder {
  color: #fafafa;
}

.search-form__button {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  right: 18px;
  top: 35px;
}
.search-form__button .search-form__icon {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.search-form__button:hover .search-form__icon, .search-form__button:focus .search-form__icon {
  transform: scale(1.3);
}

@media screen and (min-width: 375px) {
  .search-form__text-filter {
    width: 345px;
  }
}
@media screen and (min-width: 480px) {
  .search-form {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .search-form__text-filter {
    width: 400px;
  }
  .search-form__label {
    font-size: 14px;
    line-height: 18px;
  }
  .search-form__input {
    font-size: 16px;
    line-height: 18px;
    padding: 16px 24px;
    height: 62px;
  }
  .search-form {
    gap: 10px;
  }
  .search-form__button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 18px;
    top: 39px;
  }
}
.card-section {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.card {
  width: 335px;
  transition: transform 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card:hover, .card:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 445px;
  border-radius: 8px;
  object-fit: cover;
}

.card__name {
  margin-top: 16px;
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.card-notification {
  position: relative;
  margin: 40px auto 40px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-notification__svg {
  position: absolute;
  width: 257px;
  height: 140px;
  transform: rotate(4deg);
  flex-shrink: 0;
  stroke-width: 3px;
  stroke: #34387f;
}

.card-notification__text {
  text-align: center;
  width: 151px;
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.card__empty-container {
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card-section {
    width: 704px;
  }
  .cards {
    gap: 27px;
  }
  .card__name {
    margin-top: 14px;
    font-size: 24px;
  }
  .card-notification {
    margin: 60px auto 60px;
    height: 220px;
  }
  .card-notification__svg {
    width: 544px;
    height: 195px;
    stroke-width: 4px;
  }
  .card-notification__text {
    width: 250px;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .card-section {
    min-width: calc(100% - 64px);
    width: 80%;
  }
  .cards {
    gap: 27px;
    row-gap: 64px;
  }
  .card {
    width: 330px;
  }
  .card-notification {
    margin: 60px auto 60px;
    height: 220px;
  }
  .card-notification__svg {
    height: 250px;
  }
  .card-notification__text {
    font-size: 26px;
  }
  .card__img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 1920px) {
  .card-section {
    width: 1856px;
  }
  .card__name {
    margin-top: 25px;
    font-size: 26px;
    line-height: 1.1;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  width: calc(100% - 40px);
  padding: 48px 20px 40px;
  height: auto;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background: #0C0B0B;
  overflow-y: auto;
  scrollbar-color: #5c5a5a;
}
.modal-window::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0C0B0B;
}
.modal-window::-webkit-scrollbar {
  width: 6px;
  background-color: #0C0B0B;
}
.modal-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2a2a2a;
}

.modal-window__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  transform: scale(1);
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-window__button:hover {
  transform: scale(1.25);
}

.modal-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 600px;
    padding: 64px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 1000px;
  }
  .modal-card {
    flex-wrap: nowrap;
  }
}
.modal-images {
  width: 100%;
}

.modal-images__main-img {
  width: 100%;
  height: 387px;
  object-fit: cover;
  border-radius: 10px;
}

.modal-info {
  border-radius: 8px;
  background: #171717;
  padding: 32px 16px;
}

.modal-info__character {
  margin-bottom: 32px;
}

.modal-info__character-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-info__character-name,
.modal-info__comics-name {
  color: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.modal-info__character-date {
  margin-top: 4px;
  color: rgba(250, 250, 250, 0.5);
  font-size: 14px;
  line-height: 18px;
}

.modal-info__character-description {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.modal-info__comics-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.modal-info__comics-item {
  width: calc(100% - 20px);
  transition: transform 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-info__comics-item:hover, .modal-info__comics-item:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.modal-info__comics-img {
  width: 100%;
  height: 263px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 16px;
}

.modal-info__comics-title {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
}

.modal-info__comics-author {
  color: rgba(250, 250, 250, 0.5);
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .modal-images {
    display: flex;
    gap: 10px;
  }
  .modal-info__comics-item {
    width: 155px;
  }
  .modal-images__main-img {
    width: 343px;
    max-height: 445px;
  }
  .modal-info__character-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-info__comics-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .modal-info__comics-img {
    width: 155px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-images {
    width: 343px;
  }
  .modal-images__main-img {
    width: 343px;
    max-height: 445px;
  }
  .modal-info__character {
    margin-bottom: 64px;
  }
  .modal-info__comics-list {
    gap: 16px;
  }
  .modal-info__comics-item {
    width: 165px;
  }
  .modal-info__comics-img {
    width: 165px;
    height: 200px;
  }
}
.comic-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #171717;
  padding: 16px;
  border-radius: 8px;
}

.modal-images__comic-img {
  width: 100%;
  height: 387px;
  object-fit: cover;
  border-radius: 8px;
}

.comic-info__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.comic-info__main-title {
  color: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.comic-info__main-date {
  margin-top: 4px;
  color: rgba(250, 250, 250, 0.5);
  font-size: 14px;
  line-height: 18px;
}

.comic-info__main-description {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.comic-info__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.comic-info__criterion {
  color: rgba(250, 250, 250, 0.5);
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.comic-info__value {
  color: #FAFAFA;
  font-size: 12px;
  line-height: 18px;
}

.comic-info__title {
  color: #FAFAFA;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

.creator,
.comic__character {
  display: flex;
  align-items: center;
  gap: 8px;
}

.creator__img,
.comic__character-img {
  width: 50px;
  border: 1px solid rgba(250, 250, 250, 0.5333333333);
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.creator__job {
  color: rgba(250, 250, 250, 0.5);
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 3px;
}

.creator__name,
.comic__character-name {
  color: #FAFAFA;
  font-size: 14px;
  line-height: 18px;
}

.comic__characters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.comic__character {
  width: 137px;
}

@media screen and (min-width: 768px) {
  .comic-info {
    gap: 32px;
  }
  .modal-images__comic-img {
    width: 332px;
    height: auto;
  }
  .comic-info__main {
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
  }
  .comic-info__main-date,
  .comic-info__main-description {
    font-size: 16px;
    line-height: 18px;
  }
  .comic-info__main-date {
    text-align: right;
  }
  .comic-info__criterions {
    width: 317px;
  }
  .comic-info__criterion {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .comic-info__value {
    font-size: 16px;
    line-height: 18px;
  }
  .comic-info__title {
    margin-bottom: 32px;
  }
  .creator,
  .comic__character {
    gap: 16px;
  }
  .creator__img,
  .comic__character-img {
    width: 60px;
    height: 60px;
  }
  .creator__job {
    margin-bottom: 8px;
  }
  .comic__characters {
    column-gap: 32px;
  }
  .comic__character {
    width: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-images__comic-img {
    width: 332px;
    max-height: 445px;
  }
  .comic__character {
    gap: 8px;
  }
  .comic__character-name {
    font-size: 16px;
    line-height: 18px;
  }
  .comic__character {
    width: 160px;
  }
}/*# sourceMappingURL=index.css.map */