@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Poppins";
  font-weight: normal;
  background-color: #0C0B0B;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
header {
  margin: 20px;
  margin-bottom: 44px;
}

.logo__icon {
  width: 98px;
  height: 15px;
}

.hero-section {
  margin: 0 20px;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 14px;
  width: 300px;
  color: #FAFAFA;
  font-size: 44px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.88px;
}

.hero-text {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #FAFAFA;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.all-char-btn {
  padding: 10px 24px;
  border-radius: 1000px;
  background: #34387F;
  font-family: "Poppins";
  color: #FAFAFA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero-text {
    width: 420px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  header {
    margin: 24px 32px 80px;
  }
  .logo__icon {
    width: 202px;
    height: 31px;
  }
  .hero-section {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    margin-top: 16px;
    width: 538px;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1.6px;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 44px;
    width: 473px;
    font-size: 16px;
  }
  .all-char-btn {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 510px;
    margin-right: 50px;
  }
  .hero-section {
    width: calc(100% - 64px);
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .hero-text {
    margin-top: 18px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 16px;
  }
}
.swiper {
  margin-top: 40px;
}

.swiper-wrapper {
  padding-bottom: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-custom-pagination {
  position: absolute;
  left: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: 0;
  left: 0;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-bullet {
  width: 72px;
  border-radius: 0;
  height: 4px;
  background: rgba(80, 78, 78, 0.5);
  margin: 5px 0;
}

.swiper-pagination-bullet-active:nth-child(1),
.swiper-slide-active:nth-child(1) {
  --active-color: #34387F;
}
.swiper-pagination-bullet-active:nth-child(2),
.swiper-slide-active:nth-child(2) {
  --active-color: #600404;
}
.swiper-pagination-bullet-active:nth-child(3),
.swiper-slide-active:nth-child(3) {
  --active-color: #5B7F3C;
}

.swiper-pagination-bullet-active {
  background-color: var(--active-color);
}

.swiper-slide-active {
  color: var(--active-color);
}

.hero-swiper__container {
  height: 100%;
}

.hero-swiper__img1,
.hero-swiper__img2 {
  width: 220px;
  height: auto;
}

.hero-swiper__first-container {
  margin-bottom: 20px;
}

.hero-swiper__second-container {
  margin-left: auto;
  margin-right: 0;
  width: 220px;
  position: relative;
  background: linear-gradient(180deg, #34387F 36.46%, rgba(52, 56, 127, 0) 90%);
}

.hero-swiper__text-effect {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 178px;
  left: 14px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: radial-gradient(81.15% 81.15% at 50% 18.85%, var(--active-color) 0%, #171717 100%);
}

.hero-swiper__text {
  color: var(--active-color);
  color: #FAFAFA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.hero-swiper__description-container {
  display: flex;
  position: relative;
  gap: 14px;
  width: 190px;
  margin-top: 14px;
  padding-top: 30px;
}
.hero-swiper__description-container::before {
  content: url(../images/vector.svg);
  position: absolute;
  top: 0;
}

.hero-swiper__description-title {
  color: #FAFAFA;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.hero-swiper__description-text {
  color: rgba(250, 250, 250, 0.5);
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .swiper {
    width: 440px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 250px;
  }
  .hero-swiper__second-container {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .swiper-pagination-bullet {
    width: 100px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    height: auto;
    display: flex;
    align-items: flex-end;
  }
  .hero-swiper__second-container {
    width: auto;
    margin: 0;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 336px;
  }
  .hero-swiper__text-effect {
    width: 144px;
    height: 144px;
    top: 380px;
    left: 16px;
  }
  .hero-swiper__text {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  .hero-swiper__description-container {
    gap: 55px;
    width: 320px;
  }
  .hero-swiper__description-container::before {
    content: url(../images/vector.svg);
    width: 100%;
    height: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 640px;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 570px;
  }
  .hero-swiper__first-container {
    margin-bottom: 0;
    margin-left: 32px;
    display: flex;
    align-items: end;
    height: 100%;
  }
  .hero-swiper__second-container {
    margin-bottom: 0;
    width: 290px;
  }
  .hero-swiper__img1,
  .hero-swiper__img2 {
    width: 290px;
  }
  .hero-swiper__text-effect {
    width: 100px;
    height: 100px;
    top: 330px;
  }
  .hero-swiper__text {
    font-size: 20px;
  }
  .hero-swiper__description-container {
    gap: 30px;
    width: 280px;
  }
  .hero-swiper__description-container::before {
    content: url(../images/vector.svg);
    width: 100%;
    height: 2px;
  }
  .swiper-pagination-bullet {
    width: 4px;
    height: 100px;
  }
}/*# sourceMappingURL=index.css.map */