<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Characters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/index.css" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">

    <script type="module" src="../index.js"></script>

</head>

<body>
    <header class="characters-header">
        <div class="characters-hero">
            <a href="../index.html" class="logo__link characters-header__link">
                <svg class="logo__icon">
                    <use href="../images/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <h2 class="hero-subtitle characters-hero__subtitle">Web-based platform</h2>
            <!-- <div style="margin-left: auto; margin-right: auto; width: calc(100% - 40px);"> -->
                <h1 class="hero-title characters-hero__title">Characters</h1>
                <p class="hero-text characters-hero__text">
                    With over 70,000 characters in the Marvel Multiverse, this is the most complete public
                    listing in existence.
                </p>
            <!-- </div> -->
            <a class="all-char-btn characters-hero__button" href="../index.html">Back to home</a>
        </div>
    </header>
    <img src="../images/hero1.2_desktop.png"  width="320" alt="hero">
    
</body>

</html>